In [1]:
pip install pip --upgrade

Requirement already satisfied: pip in c:\users\hp\anaconda3\lib\site-packages (22.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install browserhistory

Requirement already satisfied: browserhistory in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (0.1.2)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import browserhistory as bh

ModuleNotFoundError: No module named 'browserhistory'

In [4]:
dict_obj = bh.get_browserhistory()
bh.write_browserhistory_csv()

NameError: name 'bh' is not defined

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('browser_history.csv', header=None, names=['Site','Title', 'Time'])

In [7]:
df.head()

,Site,Title,Time
0,https://www.google.com/webhp?authuser=1,,2022-01-17 23:42:02
1,https://www.google.com/search?q=indigo+web+che...,,2022-01-17 23:46:09
2,https://www.google.com/search?q=goibibo+flight...,,2022-01-17 23:46:22
3,https://www.goibibo.com/flights/?utm_source=go...,,2022-01-17 23:46:28
4,https://www.goibibo.com/flight-review/?t=t_626...,,2022-01-17 23:48:38

In [8]:
df.isna().sum()

Site     0
Title    0
Time     0
dtype: int64

In [9]:
from urllib.parse import urlparse

print(urlparse('http://www.example.test/foo/bar').netloc) # --> www.example.test
print(urlparse('http://www.test.com.eu/ters').netloc) # --> www.example.test

www.example.test
www.test.com.eu

In [10]:
def get_domain(url):
    domain = urlparse(url).netloc
    
    if domain == '':
        return None

    return domain

In [11]:
df['domain'] = [ get_domain(s)  for s in df['Site'] ]

In [12]:
df.drop('Site', axis=1, inplace=True) # drop Site column & update the current df object
df.drop('Title', axis=1, inplace=True) # drop Site column & update the current df object

In [13]:
df.isna().sum()

Time       0
domain    18
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.head()

                  Time           domain
0  2022-01-17 23:42:02   www.google.com
1  2022-01-17 23:46:09   www.google.com
2  2022-01-17 23:46:22   www.google.com
3  2022-01-17 23:46:28  www.goibibo.com
4  2022-01-17 23:48:38  www.goibibo.com

In [16]:
# clean data if you need to!!!!! 
def check(x):
    # if True it will include
    return True

df_clean = df[[ check(x) for x in df.domain]]
df_clean

                      Time           domain
0      2022-01-17 23:42:02   www.google.com
1      2022-01-17 23:46:09   www.google.com
2      2022-01-17 23:46:22   www.google.com
3      2022-01-17 23:46:28  www.goibibo.com
4      2022-01-17 23:48:38  www.goibibo.com
...                    ...              ...
17051  2022-04-17 12:43:01       github.com
17052  2022-04-17 12:43:01       github.com
17053  2022-04-17 12:43:16       github.com
17054  2022-04-17 12:44:37       github.com
17055  2022-04-17 13:18:10  docs.google.com

[17038 rows x 2 columns]

In [17]:
# write to csv with a different name

df_clean.to_csv('history_cleaned.csv', index=False)